.row {
	width:1000px;
	margin:auto;
}

.title {
color: peru;
font-weight: bold;
}

.links {
display: inline-block;
margin: 0 0 0 5px;
}


p.copyright {
float: left;
}

.links-right {
float: right;
}

.thumb {
width: 100%;
padding: 20px;
padding-left: 0;
}

.thumb-columns {
width: 282px;
float: left;
text-align: center;
}

.thumb-columns:nth-child(2n) {
margin: 0 77px;
}